{{>head}}
<body>
    <div class="main-content">
    {{>header}}
    <p>This site was created by {{name}}, It uses data from weathersatck and mapbox</p>
    <img src="/img/clouds.png">
    </div>

    {{>footer}}
</body>
</html>