{{>head}}
<body>
    <div class="main-content">
      {{>header}} 

      <p>Use this site to get you weather</p>
    </div>
    
    {{>footer}}
    <script src="/js/app.js"></script>
</body>
</html>