<header>
   <h2 class="logo">{{name}}</h2>
    
    <nav class="navigation">
    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
    <button class="btnLogin-popup">Check Weather</button>
    </nav>

</header>